body {
    color: white;
    margin: 0px;
   /* background-image: linear-gradient(to right, #469606, #6AF303 );*/
}
header {
    padding: 10px;
    background-color:#107acc;
    border-bottom: 1px solid #fff;
}
 
h1 {
    padding: 0px;
}
h5 {
   margin-left: 15px;
   margin-bottom: 10px;
   margin-top: 0px;

}
#caja-principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color:#15297c;
    margin-top: 0;

    position: relative;
}

#mas-canchas {
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
#button-mas-canchas{
  width: 150px; /* Ancho deseado del botón */
  height: 40px; /* Altura deseada del botón */
  white-space: nowrap; /* Evitar el ajuste automático de línea */
  overflow: hidden; /* Ocultar el contenido que excede las dimensiones del botón */
  text-align: center;
}

footer {
    width: 100%;
    background-color:#15297c;
    margin-top: 0%;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  
  /* 14 */
  .btn-14 {
    background: #142157 ;
    border: none;
    z-index: 1;
  }
  .btn-14:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #107acc ;
    background-image: linear-gradient(315deg, #107acc  0%, #0cbccc 74%);
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .btn-14:hover {
    color: #000;
  }
  .btn-14:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  .btn-14:active {
    top: 2px;
  }

  
 #botonera button {
    margin-right: 6px;

 } 
 #inicio-sesion {
    justify-content: center;
    white-space: nowrap;
    max-width: 200px;
 }
 #caja-logo {
    width: 220px; 
    max-height: 100%; 
    overflow: hidden;
  }
  
#caja-logo img {
    width: 100%; /* Ancho de la imagen al 100% del contenedor */
    height: auto; /* Altura automática para mantener la proporción original */
    display: block; /* Asegurarse de que la imagen se muestre como un bloque */
  }

.boton-bottom-right {
  position: absolute; /* Establecer posición absoluta para el botón */
  bottom: 0; /* Alinear el botón en la parte inferior */
  right: 0; /* Alinear el botón a la derecha */
} 
#subtitulo {
  margin-left: 20px;
  font-size: 25px;

}

/*Boton despagable */
#desplegable {
max-width: 140px;
max-height: 50px;
background: #142157;
color: #ffffff;
box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5);
}
.btn-group {
display: flex;
align-items: center;
justify-content: center;
margin-top: 0px;
}


/*motor de busqueda*/
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 4px;
}

.search-input {
  border: none;
  outline: none;
  flex: 1;
  padding: 8px;
  border-radius: 20px;
}

.search-button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 6px;
  cursor: pointer;
}
#tarjeta:hover {
 transform: translatey(-4%);
}
h4 {
  margin-bottom: 10px;
}
#mapa {
  width: 100%;
}