* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    background-image: linear-gradient(to right, #469606, #6AF303);
}

.wrapper {
    max-width: 600px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #fbfbfb;
    border-radius: 15px;
    box-shadow: #0a0a0a 5px 5px, #141414 10px 10px, #1F1F1F 15px 15px, #292929 20px 20px, #333333 25px 25px;
}

@media (max-width:748px) {
    .wrapper {
        margin-left: 10%;
        margin-right: 10%;
        box-shadow: #0a0a0a 2px 2px, #141414 5px 5px, #1F1F1F 8px 8px, #292929 10px 10px, #333333 10px 10px;

    }
}


.logo {
    object-fit: cover;
    margin: 0 auto;
    display: flex;
    justify-content: center;



}

img {
    box-shadow: 0px 5px 0px 0px#282828 0px 5px 0px 0px#000000;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: #130000 1px 1px 6px 2px
}

.wrapper .form-field .fas {
    color: #000000;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #070707;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #000000;
    transform: scale(1.1);
    color: #00f76b;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}

.wrapper a:hover {
    color: #3e539e;

}

form p {
    color: #000000;
}



@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}