<%- include('partials/header') %>

<main class="container-fluid py-5" id="cuerpo">
  <div class="row">
    <div class="btn-group">
      <button type="button" class="btn mx-5 dropdown-toggle" id="desplegable" data-bs-toggle="dropdown" aria-expanded="false">
        Deporte
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Fútbol</a></li>
        <li><a class="dropdown-item" href="#">Padel</a></li>
        <li><a class="dropdown-item" href="#">Tenis</a></li>
        <li><a class="dropdown-item" href="#">Basquet</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Otros</a></li>
      </ul>
    </div>
  </div>
  <div class="container album py-2 bg-body-secundary" id="caja-card">
    <div class="col-12">
      <h4>Canchas Destacadas</h4>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col-4">
        <div class="card shadow-sm" id="tarjeta">
          <img src="img/cancha1.jfif" alt="Imagen 1" class="bd-placeholder-img card-img-top">
          <div class="card-body">
            <h6 class="card-title">The Futbol Factory</h6>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <a href="canchas.html" class="text-body-secondary">Más info</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card shadow-sm" id="tarjeta">
          <img src="img/cancha2.jfif" alt="Imagen 2" class="bd-placeholder-img card-img-top">
          <div class="card-body">
            <h6 class="card-title">Chacra 8</h6>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <a href="#otra-seccion" class="text-body-secondary">Más info</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card shadow-sm" id="tarjeta">
          <img src="img/cancha3.jfif" alt="Imagen 3" class="bd-placeholder-img card-img-top">
          <div class="card-body">
            <h6 class="card-title">Maracaná</h6>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <a href="#otra-seccion" class="text-body-secondary">Más info</a>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
  <div id="mas-canchas">
    <button class="custom-btn btn-14" id="button-mas-canchas">Mas canchas</button>
  </div>
</main>


<%- include('partials/footer') %>